*{
    margin:0;
    padding: 0;
}


body{
    background-color:  #141414;
    color : white;
    padding: 15px;
}



.nav{
    display: flex;
    gap: 20px;
    align-items:  center;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-img{
    width: 100px;
}

/*card*/


.card{
    height: 500px;
    position: relative;
}

.card-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

.card-bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    object-position: 0%;
}

.card-img{
     width: 100%;
}

.card-logo{
    width: 100px;
    display: flex;
}


.card-buttons{
    display: flex;
    gap: 20px;
    
}


.card-button{
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.primary{
    background-color: white;
    color: black;
}

.secondary{
    background-color: gray;
    color: white;
}
@media (min-width: 768px){
    .nav{
        flex-direction: row;
    }
    .nav-img{
        gap : 50px;
    }
    .card-logo{
        width: 500px;
        font-size: 50px;
    }
}



@media (min-width: 1200px){
    .card-logo{
        width: 500px;
        font-size: 50px;
    }
    .card-title{
        font-size: 50px;
    }
    .card-description{
        font-size: 15px;
    }
    .card-buttons{
        flex-direction: column;
    }
}
